<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>W3.CSS Template</title>
    <link rel="stylesheet" href="page.css">
    <link rel="icon" href="favicon.ico">
</head>
<body>
    <div class="navbar">
        <div class="logo">
            <a href="#">Gourment au Catering</a>
        </div>
        <div class="menu">
            <a href="#">About</a>
            <a href="#">Menu</a>
            <a href="#">Contact</a>
        </div>
    </div>
    <div class="main-content">
        <div class="image1"></div>
        <div class="ima-text">Le Catering</div>
    </div>
    <div class="content-2">
        <div class="content-2-image">
            <img src="tablesetting2.jpg" alt="image">
        </div>
        <div class="content-2-text">
            <h1>About Catering</h1>
            <h5>Tradition since 1889</h5>
            <p class="p1">The Catering was founded in blabla by Mr. Smith in lorem ipsum dolor sit amet, consectetur adipiscing elit consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute iruredolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.We only use seasonal ingredients.
            </p>
            <p class="p2">Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum consectetur adipiscing elit, sed do eiusmod temporincididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
        </div>
    </div>
    <hr>
    <div class="content-3">
        <div class="content-3-text">
            <h1 class="h1">Our Menu</h1>
            <h3 class="h2">Bread Basket</h3>
            <h5 class="h3">Assortment of fresh baked fruit breads and muffins 5.50</h5>
            <h3 class="h2">Honey Almond Granola with Fruits</h3>
            <h5 class="h3">Natural cereal of honey toasted oats, raisins, almonds and dates 7.00</h5>
            <h3 class="h2"> Belgian Waffle</h3>
            <h5 class="h3">Vanilla flavored batter with malted flour 7.50</h5>
            <h3 class="h2">Scrambled eggs</h3>
            <h5 class="h3">Scrambled eggs, roasted red pepper and garlic, with green onions 7.50</h5>
            <h3 class="h2">Blueberry Pancakes</h3>
            <h5 class="h3">With syrup, butter and lots of berries 8.50</h5>
        </div>
        <div class="content-3-imag">
            <img src="tablesetting.jpg" alt="image">
        </div>
    </div>
    <hr>
    <div class="content-4">
        <h1>Contact</h1>
        <p>We offer full-service catering for any event, large or small. We understand your needs and we will cater the food to satisfy the biggerst criteria of them all, both look and taste. Do not hesitate to contact us.</p>
        <h4>Catering Service, 42nd Living St, 43043 New York, NY</h4>
        <p>You can also contact us by phone 00553123-2323 or email catering@catering.com, or you can send us a message here:</p>
    </div>
    <div class="form">
        <label for="name">
            <input type="text" placeholder="Name" id="name">
            <div id="line"></div>
        </label>
        <label for="people">
            <input type="text" placeholder="How many people" id="people">
            <div id="line"></div>
        </label>
        <label for="Date">
            <input type="datetime-local" placeholder="Date and time" required="date" name="date" value="2023-10-07T09:40" id="Date">
            <div id="line"></div>
        </label>
        <label for="message">
            <input type="text" placeholder="Message \ Special requirements" id="message">
            <div id="line"></div>
        </label>
        <div class="buttom">send Message</div>
    </div>
    <div class="footer">
        Powered by <a href="#">Abhishek singh</a>
    </div>
</body>
</html>